header{
  background:url(https://commons.wikimedia.org/wiki/File%3AUltimate_Frisbee_Colorado_Cup_2005.jpg);
  opacity:0.9;
}

h1{
  text-transform:uppercase;
  color:#0066ff;
  text-align:center;
}

h2{
  text-transform:uppercase;
  color:#0066ff;
}


section{
  background-color:#00ffff;
  color:#000000;
}

nav a{
    background-color:#ffcc00;
}
