table,th,td
{
border: 1px solid black;
text-align:center;
padding:10px;
}
table
{
border-collapse:collapse;
background-color:yellow;
}
th
{
color:red;
background-color:skyblue;
}
td
{
vertical-align:bottom;
color:green;
height:50px;
border-bottom:dashed;
border-left:dashed blue;
}
td:hover
{
background-color:white;
opacity:0.5;
}
