header{
  background-image:url("https://farm4.staticflickr.com/3948/15409853738_7dbfbfbac7_k.jpg");
  background-color:#fca903;
  background-position: center;
  height:180px;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.5;
  margin:20px 20px 0px; 
} 

header h1{
  text-transform:uppercase;
  color:#ffffff;
  text-align:center;
  font-weight:bold;
}

nav a{
  height:20px;
  padding:15px 0px;
  font-size:15px;
  display:inline-block;
  text-align:center;
  text-decoration:none;
  width:20%;
  background-color:#ffffff;
  opacity:0.6;
  margin:2%;
  border:#000000 solid 1px;
  border-radius:10px;
}

.left{
  background-image:linear-gradient(#f5fc12,#0da33f);
  float:left;
  width:300px;
  margin:0px 0px 20px 20px;
}

aside img{
  width:200px;
  height:200px;
  margin:20px 50px 20px;
}

.right{
  float:right;
}

h2{
  text-transform:uppercase;
  color:#0066ff;
}

section{
  background-color:#00ffff;
  color:#000000;
}

