h1{
text-align:centre;
}
div{
background-color: yellow;
box-sizing: border-box;
margin: 1px black;
width: 33.33%;
}	
h2{
background-color: green;
box-sizing:border-box;
width:40px
height: 20px
text-align : right;
padding:10px;
margin:1px black;
}
p{
box-sizing:border-box;
text-align:left;
padding:10px;
height: 100px
}
